.h3font {
  font-family: 'Acme', sans-serif;
  font-size: 25px;
  color: #a54403;
}
.pstyle {
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  text-align: justify;
}

.btn-container {
  float: right;
}

@media (max-width: 767px) {
  .btn-container {
    margin-bottom: 15px;
  }
}
